body {
  margin: 0;
  font-family: "Inconsolata", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.board-bg {
  /* background-image: linear-gradient(to bottom right, red, yellow); */
  width: fit-content;
  margin: auto;
}

.board {
  background: white;
  line-height: 0;
  margin: auto;
  margin-top: 20px;
}

.cell {
  display: inline-block;
  border: 1px solid white;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
}

.dead {
  background-color: rgb(231, 231, 231);
}

.cell:hover {
  background-color: lightgray;
}

.alive {
  background-color: green;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn {
  font-family: "Inconsolata", monospace;
}