body {
  margin: 0;
  font-family: "Inconsolata", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board-bg {
  /* background-image: linear-gradient(to bottom right, red, yellow); */
  width: fit-content;
}

.board {
  background: white;
  line-height: 0;
  margin: auto;
  margin-top: 20px;
}

.cell {
  display: inline-block;
  border: 1px solid white;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
  transition: opacity 0.2s;
}

.dead {
  background-color: blueviolet;
}

.cell:hover {
  opacity: 0.5;
}

.alive {
  background-color: goldenrod;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn {
  font-family: "Inconsolata", monospace;
}
